<h1>All conversations</h1>

<div class="row">
  <% @conversations.each do |conversation| %>
  <div class="card" style="width: 20rem;">
    <div class="card-block">
      <h4 class="card-title"><%= conversation.subject%></h4>
      <%= link_to 'Show', conversation, class: "btn btn-outline-primary" %>
    </div>
  </div>
  <% end %>
</div>
