<div class="container">

  <div class="card">
    <h3 class="card-header">Admin Panel</h3>
    <div class="card-block">
      <h4 class="card-title">All Users</h4>
      <p class="card-text">Navigate to user profiles and manage their accounts</p>
      <a href="/users" class="btn btn-outline-warning">Manage Users</a>
    </div>
    <div class="card-block">
      <h4 class="card-title">All Organisations</h4>
      <p class="card-text">Navigate to company profiles and manage their accounts</p>
      <a href="/companies" class="btn btn-outline-warning">Manage Companies</a>
    </div>

  </div>

</div>
