<div class="text-center">
  <img src="/BrandSpace_Logo.png" class="rounded" alt="About Us">
</div>

<div class="container">
  <br/>
  <div class="text-center">
    <h4>What are we?</h4>
    <p>
    It is a platform for organisations to put up the activities they are going to do in a certain area.<br/>
    Users can create their own profiles and look for activities that are happening in their locality.</br/>
    Messaging functionality and location based searching have been incorporated.<br/>
    </p>
  </div>
</div>

<div id="layoutimg"></div>
<div class="container">
  <br/>
  <div class="text-center">
    <h4>How to get started?</h4>
    <p>
    Like every other web-application sign-up, after that's done we will send you a confirmation e-mail. And, once the email is confirmed you are good to go!<br/>
    <br/>
    For an Organisation:<br/>
    Once you are logged-in, you should see an option called 'Organisation' in the top navigation bar, create your company page from there.<br/>
    It's important to enter all your details in to take full use of all the services we provide.<br/>
    Organisations are the only ones allowed to create activities.<br/>
    Individual users are not able to contact organisations, however they are able to contact the activity owner.<br/>
    <br/>
    For an Individual:<br/>
    You will be able to see all the activities, companies and users around you.<br/>
    Through BrandSpace you are able to contact the organisers.<br/>
    We would highly recommend to have your profile as accurate and complete as possible, for your own best experience.<br/>
    </p>
  </div>
</div>

<div id="privacyimg"></div>
<div class="container">
  <br/>
  <div class="text-center">
    <h4>Protect your Privacy</h4>
    <p>
    All information provided by the user will be displayed in the website.<br/>
    Therefore we would urge you to be smart about it. If you do not wish to be contacted, then do not publicize your contact number(s).<br/>
    Your location is crucial for the way you will be sorted in the dataset. So please leave it in, but dont give an exact address.<br/>
    A street name would prove sufficient.<br/>
    </p>

    <h4>Go Undercover! (Don't wanna work yet)</h4>
    <p>
    If you are one of those who just likes to see what is happening and doesn't want to get involved, we got you covered.<br/>
    In your profile, just state that you are not available to work. This should hide your profile from surfacing on the site.<br/>
    However if someone does look for your profile, you will be shown in the search results.<br/>
    </p>
    <br/>
  </div>
</div>

<div id="teamimg"></div>
<div class="container">
  <br/>
  <div class="text-center">
    <h4>The Journey</h4>
    <p>
    BrandSpace was designed as part of a Final Year Project by Jiss.<br/>
    The business idea went through quite a lot of iterations, from Outdoor Advertising to Brand Ambassadors.<br/>
    Developing this application was a lot of fun and helped me learn a lot.<br/>
    Big shout out to Daniel (Parkpnp - CTO), whom I took a lot of inspiration from. And, Levin for her continous support.<br/>
    From the BIS labs in UCC to the tables in Dublin Starbucks' - it was a fun process.<br/>
    </p>
  </div>
</div>

<div id="techimg"></div>
<div class="container">
  <br/>
  <div class="text-center">
    <h4>Technology Stack</h4>
    <p>
    This web-application was built on Ruby-on-Rails and beauti-fied using Bootstrap.<br/>
    Version control was done through GitHub, PostgreSQL and Amazon S3 holds our data and all is deployed to Heroku.<br/>
    </p>
  </div>
</div>
