<div class="container">

  <div class="card">
    <h3 class="card-header">New Organisation</h3>

    <div style="padding:20px">

    <%= render 'form', company: @company %>

    </div>

    <div class="card-footer">
      <%= link_to 'Back', companies_path, class:"btn btn-secondary btn-block" %>
    </div>

  </div>

</div>
