<h1>Editing Activity</h1>

<%= render 'form', activity: @activity %>

<div class="container">
<%= link_to 'Show', company_activity_path(@company, @activity), class:"btn btn-outline-primary" %> |
<%= link_to 'Back', company_activity_path(@company), class:"btn btn-secondary" %>
</div>
